<%= simple_form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.input :name %>
    <%= f.input :email %>
    <%= f.input :phone, label: "Phone Number" %>
    <%= f.input :password, label: "Set Password" %>
    <%= f.input :password_confirmation, label: "Confirm Password" %>
    <%= f.input :points, label: "Points. VIC: should be hidden" %>
    <%= f.input :location, label: "Address" %>
    <%= f.button :submit, value: "Join Club!", class: "btn btn-primary"%>
<% end %>

<h1>Already a Member? Log In</h1>
<form action="/sessions" method="post">
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email">
  </div>
  <div class="form-group">
    <label for="email">auth token</label>
    <input name="authenticity_token" class="form-control">
  </div>
  <div class="form-group">
    <label for="pwd">Password</label>
    <input type="password" class="form-control" id="pwd">
  </div>
  <div class="checkbox">
    <label><input type="checkbox"> Remember me</label>
  </div>
  <button type="submit" class="btn btn-default">Log In</button>
</form>
