<%= simple_form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.input :name %>
    <%= f.input :email %>
    <%= f.input :phone, label: "Phone Number" %>
    <%= f.input :password, label: "Set Password" %>
    <%= f.input :password_confirmation, label: "Confirm Password" %>
    <%= f.input :points, label: "Points. VIC: should be hidden" %>
    <%= f.input :location, label: "Address" %>
    <div class="form-group">
      <b>What types of items would you like to acquire?</b>
      <%= f.collection_select(:desired_tag_ids, Tag.all, :id, :name,
      {},
      { multiple: true, class: 'form-control' }) %>
    </div>
    <%= f.button :submit, value: "Join Club!", class: "btn btn-primary"%>
<% end %>

<h1>Already a Member? Log In</h1>
