<p id="notice"><%= notice %></p>

<div class="well"> You want these kinds of items:
  <% @user.desired_tags.each do |p| %>
    <%= p.name %> |
  <% end %>
</div>

<%= link_to messages_path do %>
  <button>
    Message Box
  </button>
<% end %>

<%= link_to watches_path do %>
  <div class="btn btn-default">
    Watched (<%= @number_watched %>)
  </div>
<% end %>

<%= link_to user_requests_path do %>
  <div class="btn btn-default">
    Sent Requests (<%= @number_sent %>)
  </div>
<% end %>

<div class="well well-lg">
  Your Current Posts:
  <% current_user.posts.each do |p| %>
    <%= link_to post_path(p) do%>
    <div class="well well-sm">
      Title: <%= p.title %> |
      category: <%= p.category %>
    </div>
    <% end %>
  <% end %>

</div>

<div class="well well-lg">
  There are <%= suggestions.count %> suggested Exchanges for you:
  <div>
    <% suggestions.each do |p| %>
      <%= link_to post_path(p) do %>
        <%= p.title %> <br>
      <% end %>
    <% end %>
  </div>
</div>

<div class="well well-lg">
  Exchanges in Progress <br>
  <% if @exchanging_posts.present? %>
    <% @exchanging_posts.each do |ep| %>
      Title: <%= ep.title %> <br>
      trading with request number: <%= ep.working_request_id %> <br>
    <% end %>
  <% else %>
    No currently happening exchanges.
  <% end %>
</div>

<div class="well well-lg">
  Exchange History
</div>

<p>
  Joined Since: <%= @user.created_at %>
</p>

<p>
  Points: <%= @user.points %>
</p>

<p>
  xxx of Exchanges Completed
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @user.phone %>
</p>

<p>
  <strong>Password digest:</strong>
  <%= @user.password_digest %>
</p>

<p>
  <strong>Points:</strong>
  <%= @user.points %>
</p>

<p>
  <strong>Location:</strong>
  <%= @user.location %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
