<!-- for carousel begin -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>

  <div class="carousel-inner" role="listbox" id="le_carousel">

    <div class="item active" style="background-image: url(<%= image_path("jmt4.jpg") %>);">
      I am supposed to be a sliding div
      <!-- <img src="/assets/jmt4.jpg" alt="Chania" width=100%> -->
      <div class="carousel-caption">
        <h3>Reduce</h3>
        <p>Our beautiful planet needs less garbage.</p>
      </div>
    </div>

    <div class="item" style="background-image: url(<%= image_path("jmt2.jpg") %>);">
      I am supposed to be a sliding div
      <!-- <img src="/assets/jmt2.jpg" alt="Chania" width=100%> -->
      <div class="carousel-caption">
        <h3>Reuse</h3>
        <p>Contribute to a greener world.</p>
      </div>
    </div>

    <div class="item" style="background-image: url(<%= image_path("jmt3.jpg") %>);">
      I am supposed to be a sliding div
      <!-- <img src="/assets/jmt3.jpg" alt="Flower" height="370" width=100%> -->
      <div class="carousel-caption">
        <h3>Recycle</h3>
        <p>Reuse things rather than buying new ones.</p>
      </div>
    </div>

    <div class="item" style="background-image: url(<%= image_path("jmt1.jpg") %>);">
      I am supposed to be a sliding div
      <!-- <img src="/assets/jmt1.jpg" alt="Flower" width=100%> -->
      <div class="carousel-caption">
        <h3>Contribute</h3>
        <p>A simple choice makes big differences.</p>
      </div>
    </div>
  </div>
</div>
<!-- for carousel end -->

<div class="section centered">
  <h2>How does Wexchange Work?</h2>
  <div class="row">
    <div class="col-sm-8 how-work">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>

    <div class="col-sm-4">
      <i class="fa fa-globe fa-5x" aria-hidden="true"></i> <br>
      Earth-friendly App <br>
      <i class="fa fa-heart fa-5x" aria-hidden="true"></i>
    </div>
  </div>
</div>
<!-- ending .section -->

<div class="centered imagine" style="background-image: url(<%= image_path("earth.jpg") %>);">
  <h3>Imagine a World Without Waste...</h3>
</div>

<div class="img-collect">
  <div class="row">
    <div class="col-xs-3" style="background-image: url(<%= image_path("jmt4.jpg") %>);">
    </div>

    <div class="col-xs-3" style="background-image: url(<%= image_path("bg22.jpg") %>);">
    </div>

    <div class="col-xs-3" style="background-image: url(<%= image_path("bg9.jpg") %>);">
    </div>

    <div class="col-xs-3" style="background-image: url(<%= image_path("bg5.jpg") %>);">
    </div>
  </div>

  <div class="row">
    <div class="col-xs-3" style="background-image: url(<%= image_path("bg7.jpg") %>);">
    </div>

    <div class="col-xs-3" style="background-image: url(<%= image_path("bg8.jpg") %>);">
    </div>

    <div class="col-xs-3" style="background-image: url(<%= image_path("bg12.jpg") %>);">
    </div>

    <div class="col-xs-3" style="background-image: url(<%= image_path("bg13.jpg") %>);">
    </div>
  </div>

  <div class="row">
    <div class="col-xs-3" style="background-image: url(<%= image_path("bg14.png") %>);">
    </div>

    <div class="col-xs-3" style="background-image: url(<%= image_path("bg15.jpg") %>);">
    </div>

    <div class="col-xs-3" style="background-image: url(<%= image_path("bg16.jpg") %>);">
    </div>

    <div class="col-xs-3" style="background-image: url(<%= image_path("bg17.jpg") %>);">
    </div>
  </div>

  <div class="row">
    <div class="col-xs-3" style="background-image: url(<%= image_path("bg18.jpg") %>);">
    </div>

    <div class="col-xs-3" style="background-image: url(<%= image_path("bg19.jpg") %>);">
    </div>

    <div class="col-xs-3" style="background-image: url(<%= image_path("bg20.jpg") %>);">
    </div>

    <div class="col-xs-3" style="background-image: url(<%= image_path("bg21.jpg") %>);">
    </div>
  </div>

</div>
<!-- ending .img-collect -->

<div class="testimonial">
  <h2>Live Greener, Live Happier.</h2>
  <%= link_to new_user_path do %>
    <button type="button" name="button" class="btn btn-success">
      Sign Up Today!
    </button>
  <% end %>
  <div class="praise">
    <q cite="John Doe"><i>As soon as I signed up, I felt happier. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</i></q>
  </div>
  <div class="">
    --John Doe
  </div>
</div>
