all the msg are here. we're in `messages.html.erb`

<% @posts.each do |p| %>
  <% p.requests.each do |pr| %>
      <div class="well well-sm">
        <%= link_to request_path(pr) do %>
          <%= pr.title %> | from user <%= pr.user.name %> | state of this request: <%= pr.state %> <br> offering item <%= pr.offer %>
        <% end %>

         <div>
          <% if p.may_exchanging? && pr.may_accept? %>
            <%= link_to "Accept", owner_confirmations_path(post_id: p.to_param, request_id: pr.to_param), method: :post, remote: true %>
          <% end %>
        </div>
      </div>
  <% end %>
<% end %>
