<%= simple_form_for(post) do |f| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :category, label: "Select Category" %>
  <%= f.input :title %>
  <div class="form-group">
    <b>Select tags that apply</b>
    <%= f.collection_select(:tag_ids, Tag.all, :id, :name,
    {},
    { multiple: true, class: 'form-control' }) %>
  </div>
  <%= f.input :description %>
  <%= f.input :value, label: "Points Worth" %>
  <%= f.input :location, label: "Address (VIC: add same-address option)" %>
  <%= f.input :duration %>
  <%= f.input :time %>
  <%= f.button :submit, "Create Post" %>
<% end %>
