<style>
#bigbody {
  background-image: url('/assets/bg1.jpeg');
  background-size: cover;
}
</style>

<div class="container">

  <!-- Full Screen search bar begin -->
  <ul class="nav navbar-nav navbar-right">
      <li><a href="#search"><span class="glyphicon glyphicon-search"></span></a></li>
  </ul>

  <div id="search">
      <button type="button" class="close">×</button>
      <form method="get" action="<%= posts_path %>">
          <input type="search" name="search" value="<%= params[:search] %>" placeholder="Keyword(s)..." />
          <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></button>
      </form>
  </div>
  <!-- full screen search bar ends -->


  <% if params[:search] && @service_posts.present? || @item_posts.present? || @volunteer_posts.present? %>
      <p id="notice"><%= notice %></p>

      <h1>Items</h1>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Image</th>
            <th>Title</th>
            <th>Description</th>
            <th>Value</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @item_posts.each do |post| %>
          <tr>
            <%= link_to post_path(post) do %>
              <td><%= image_tag("mac.jpeg", height: "150px", alt: "macbook") %></td>
            <% end %>
            <td><%= post.title %></td>
            <td><%= post.description %></td>
            <td><%= post.value %></td>
            <td><%= link_to 'Show', post %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <br>

      <h1>Volunteer Opportunities</h1>
      <table>
        <thead>
          <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Category</th>
            <th>Value</th>
            <th>User</th>
            <th>Location</th>
            <th>Duration</th>
            <th>Time</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @volunteer_posts.each do |post| %>
          <tr>
            <td><%= post.title %></td>
            <td><%= post.description %></td>
            <td><%= post.category %></td>
            <td><%= post.value %></td>
            <td><%= post.user.name %></td>
            <td><%= post.location %></td>
            <td><%= post.duration %></td>
            <td><%= post.time %></td>
            <td><%= link_to 'Show', post %></td>
            <td><%= link_to 'Edit', edit_post_path(post) %></td>
            <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
          <% end %>
        </tbody>
      </table>

      <%= link_to 'New Post', new_post_path %>

  <% else %>
    Sorry, nothing found.
  <% end %>

</div>
