<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @post.description %>
</p>

<p>
  <strong>Category:</strong>
  <%= @post.category %>
</p>

<p>
  <strong>Value:</strong>
  <%= @post.value %>
</p>

<p>
  <strong>Posted by User:</strong>
  <%= @post.user.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @post.location %>
</p>

<p>
  <strong>Exchanged post:</strong>
  <%= @post.exchanged_post_id %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @post.duration %>
</p>

<p>
  <strong>Time:</strong>
  <%= @post.time %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>

<%= simple_form_for([@post, @request]) do |f| %>
  <% if @request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@request.errors.count, "error") %> prohibited this exchange request from being saved:</h2>

      <ul>
      <% @request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.input :title %>
    <%= f.input :offer %>
    <%= f.input :message %>
    <%= f.button :submit, value: "Send Request!", class: "btn btn-primary"%>
<% end %>

<%= link_to "All requests(test) of this post", post_requests_path(@post) %>
